/*

 {
          list: '紫色',
          cls: 'purple',
          color: '#7e57c2'
        },
        {
          list: '蓝色',
          cls: 'blue',
          color: '#009688'
        },
        {
          list: '灰色',
          cls: 'gray',
          color: '#474a4f'
        }



*/
$purple-theme = #7e57c2
$blue-theme = #009688
$gray-theme = #474a4f
.purple
  .top-w
    background-color: $purple-theme !important
.blue
  .top-w
    background-color: $blue-theme !important
.gray
  .top-w
    background-color: $gray-theme !important
